{{ define "main" -}}

<div class="logo-wrapper">
    {{- partial "logo.html" . -}}
</div>

<div class="container">
    <div class="entry-content">
        <p class="center">Welcome in <b>EU 2019 Election Tracking Exposed</b>, an <a target="_blank" href="#">ALEX project</a></p>
        <p>
            ALEX is a project that aim to provide you a defense strategy to face the digital knowledge era. It gives Us a tool to understand the manipulation processes of information that happen inside digital platforms, and it gives You the power to outsmarting the personalized algorithms ...
            <a href="#about"><b>read more</b></a>.
        </p>
    </div>

    <form id="main-search" class="center main-search" action="#" method="post">
        <h2 class="h3_style">
            Search a keyword in FaceBook<br />
            <small class="paragraph">to discover how it use that keyword</small>
        </h2>
        <fieldset class="entry-content top">
            <div class="country-wrapper left">
                <div class="country-select">
                    <select id="country-select">
                        <option value="english">English</option>
                        <option value="bulgarian">Bulgarian</option>
                        <option value="croatian">Croatian</option>
                        <option value="czech">Czech</option>
                        <option value="danish">Danish</option>
                        <option value="dutch">Dutch</option>
                        <option value="estonian">Estonian</option>
                        <option value="finnish">Finnish</option>
                        <option value="french">French</option>
                        <option value="german">German</option>
                        <option value="greek">Greek</option>
                        <option value="hungarian">Hungarian</option>
                        <option value="italian">Italian</option>
                        <option value="latvian">Latvian</option>
                        <option value="lithuanian">Lithuanian</option>
                        <option value="polish">Polish</option>
                        <option value="portuguese">Portuguese</option>
                        <option value="romanian">Romanian</option>
                        <option value="slovak">Slovak</option>
                        <option value="slovenian">Slovenian</option>
                        <option value="spanish">Spanish</option>
                        <option value="swedish">Swedish</option>
                    </select>
                </div>
                <span class="clear"></span>
                <label for="country-select">Choose a language</label>
            </div>
            <div class="keywords-wrapper left">
                <input id="keywords-input" type="text" placeholder="Type a keyword" /><br />
                <label for="keywords-input">Choose a keyword to search</label>
            </div>
            <div class="button-wrapper left omega">
                <button type="submit" class="btn btn_big top"><b>Search</b></button>
            </div>
        </fieldset>
    </form>

    <div class="center">
        <b>Or browse the map</b>
        <div class="row"></div>
    </div>

    <div id="map-container" class="map">
        {{- partial "map.html" . -}}
        {{- partial "overlay-fbdata.html" . -}}
        <span class="clear"></span>
    </div>
    <div class="row"></div>

    <div class="entry-content">
        <h2 class="center" id="about">About</h2>
        <h3>Why EU 2019 Elections</h3>
        <p>Every day and in every nation, <b>algorithms and platforms affect our decision making process when we access to informations through them</b>. The importance of autonomous and unbiased access to information is never as critical to the democratic process as it is during the electoral process. <b>The digital platforms embodies a new form of power</b> and it is iconic how elections are being positioned as the prize in an ever-evolving battlefields between different groups of political or corporate interest. </p>
        <h3>Platform accountability is a global issue without a global solution</h3>
        <p><i>Personalization algorithms</i> is an umbrella term that refers to different types of software tools tasked with determining what matters to you.<b>This is a form of power un-supervised by external considerations and operating without any accountability or transparency</b>, while being totally defined by the internal processes of a corporation.</p>
        <h3>How ALEX works</h3>
        <p>ALEX project aims to enabling researchers and citizens to understand the type and degree of influence that social and content platforms have on an individual or groups decision making process. We do this through two steps:</p>
       <ol>
           <li>With your cooperation: when you give to ALEX your anonymized data, by installing the browser extension. The more we are, the more accurate our understanding will be,  <a href='{{ ref . "/page/get-the-extension.md" }}' title="Download the browser extension">so get on board!</a></li>
           <li>When everybody analyze ideas, concepts and phenomena through the data we collect</li>
       </ol>
        <div class="column_1-2">
            <figure class="center">
                <img src="images/page/extension.gif" width="160"/>
                <figcaption><i>ALEX draws contents from platforms such Facebook</i></figcaption>
            </figure>
            <p>In first place <b>we have develop a web browser extension</b> (<a href='{{ ref . "/page/get-the-extension.md" }}' title="Download the browser extension">Download it now!</a>) which collects contents that Facebook and YouTube expose to people like you. Complex algorithmic processes attempt to estimate what content is most important for each user, that’s personalization algorithms. They require personal information about you to be successful in micro-targeting and social curation. Our web extension allow you to understand your “personalized treatment”, showing all the content provided to you.</p>
        </div>
        <div class="column_1-2 omega">
            <figure class="center">
                <img src="images/page/personalization.gif" width="160"/>
                <figcaption><i>Platforms feeds you with selected contents</i></figcaption>
            </figure>
            <p>In second place, with this tool, we collect evidence to empower any citizen in <b>understanding the manufacturing process of collective beliefs</b> through these platforms. Collecting data allow us to analyze the way informations is used by corporations, political interest groups, and foreign powers, in a way that is not  necessarily in line with their own values.  Also, looking at the content provided to other people, you can outsmart the <i>personalization algorithms</i>, reaching a new prespective.</p>
        </div>
        <span class="clear"></span>
        <br />
        <h4 class="center"><a href="#">Discover more about ALEX</a></h4>
        <span class="clear"></span>
    </div>
</div>

{{- end }}
