{{ define "main" -}}
{{ .Scratch.Add "lang"  .Title }}
<div class="container">
    <header class="search-page">
        <figure class="left">
            <img src="/images/language/{{ lower .Title }}.svg" />
        </figure>
        <div class="page-info left">
            <h1 class="top">{{ .Title }}</h1>
            <small><a href="/language">Change language</a></small>
            <ul class="preview-data">
                <li class="language-icon icon-small">
                    Country: <b class="language-data">{{ .Params.country }}</b>
                    <small><a href="/country">Change country</a></small>
                </li>
                <li class="contributors-icon icon-small">
                    <b class="contributors-data"></b> contributors<br />
                    <small>Means that we collect data from <b class="contributors-data"></b> people who has download our extension. <a href='{{ ref . "/page/get-the-extension.md" }}' title="Download the browser extension">Be one of them</a>.</small>
                </li>
            </ul>
        </div>
        <span class="clear"></span>
    </header>

    <div class="search-page-container" id="search-page" data-lang="{{ .Title }}">
        <div class="column_1-3">
            <h3 class="top">
                Most used keywords<br />
                <span class="paragraph"><small>For {{ .Title }}, in the last 7 days</small></span>
            </h3>
            <div id="most-used-keywords">
                <img src="/images/preloader.gif" class="preloader preloader-key" width="60" height="60" />
            </div>
        </div>
        <div class="column_2-3 omega">

            {{- partial "single-form.html" . -}}

        </div>
        <span class="clear"></span>
    </div>
</div>
{{- end }}