/* Regular */
@font-face {
  font-family: 'SimplonNorm-Regular';
  src: url('../../fonts/SimplonNorm-Regular.eot?20151216');
  src: url('../../fonts/SimplonNorm-Regular.eot?20151216#iefix') format('embedded-opentype'),
  url('../../fonts/SimplonNorm-Regular.woff?20151216') format('woff'),
  url('../../fonts/SimplonNorm-Regular.ttf?20151216') format('truetype'),
  url('../../fonts/SimplonNorm-Regular.svg?20151216#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Bold */
@font-face {
  font-family: 'SimplonNorm-Bold';
  src: url('../../fonts/SimplonNorm-Bold.eot?20151216');
  src: url('../../fonts/SimplonNorm-Bold.eot?20151216#iefix') format('embedded-opentype'),
  url('../../fonts/SimplonNorm-Bold.woff?20151216') format('woff'),
  url('../../fonts/SimplonNorm-Bold.ttf?20151216') format('truetype'),
  url('../../fonts/SimplonNorm-Bold.svg?20151216#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

