//@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


/*fonts var*/
$font-stack: 'SimplonNorm-Regular', sans-serif;
$regular: 'SimplonNorm-Regular';
$bold: 'SimplonNorm-Bold';

/*shade of gray*/
$black: #020A23;
$grey-dark: #3C3C3C;
$grey-full: #76737A;
$grey-medium: #dcdcdc;
$grey-light: #f9f9f9;
$grey-bg: #F2F6F5;
$white: #FFF;

/*colors stack*/
$primary: #003399;
$primary-dark: #015470;
$primary-light: #2DA6AF;
$background: #DCDEE0;
$secondary: #FFCC00;
$tertiary: #FC1D6A;
$tertiary-light: #fd8cb1;
$tertiary-dark: #dc1a59;

/*
 * mixin
 */
@mixin border-radius($top, $left, $bottom, $right) {
  -webkit-border-radius: $top $left $bottom $right;
  -moz-border-radius: $top $left $bottom $right;
  -ms-border-radius: $top $left $bottom $right;
  border-radius: $top $left $bottom $right;
}
@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color){
  -moz-box-shadow:    $horizontal $vertical $blur $spread $color;
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow:         $horizontal $vertical $blur $spread $color;
}
@mixin inset-box-shadow($horizontal, $vertical, $blur, $spread, $color){
  -webkit-box-shadow: inset $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $spread $color;
  box-shadow: inset $horizontal $vertical $blur $spread $color;
}
@mixin text-shadow($horizontal, $vertical, $blur, $color) {
  text-shadow: $horizontal $vertical $blur $color;
}
@mixin gradient($first, $second) {
  background: $first;
  background: -webkit-linear-gradient(top, $first, $second);
  background: -o-linear-gradient(top, $first, $second);
  background: -moz-linear-gradient(top, $first, $second);
  background: linear-gradient(top, $first, $second);
}
@mixin three-gradient($first, $second, $third) {
  background: $first; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,$first,$second,$third);
  background: -o-linear-gradient(left,$first,$second,$third);
  background: -moz-linear-gradient(left,$first,$second,$third);
  background: linear-gradient(to right, $first,$second,$third);
}
@mixin transform($rotate, $scale, $skew, $translate) {
  transform:  rotate($rotate) scale($scale) skew($skew) translate($translate);
  -webkit-transform:  rotate($rotate) scale($scale) skew($skew) translate($translate);
  -moz-transform: rotate($rotate) scale($scale) skew($skew) translate($translate);
  -o-transform:  rotate($rotate) scale($scale) skew($skew) translate($translate);
  -ms-transform:  rotate($rotate) scale($scale) skew($skew) translate($translate);
}
@mixin vertical-align($position: absolute) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}