<div class="overlay" id="preview-info">
    <a class="close-btn" href="#">x</a>
    <h3 class="center top"></h3>
    <ul class="preview-data">
        <li class="language-icon icon-small"><b class="language-data"></b> language</li>
        <li class="contributors-icon icon-small">
            <b class="contributors-data"></b> contributors <br />
            <small>Means that we observe the network with <b class="contributors-data"></b> supporters who has download our extension. <a href='{{ ref . "/page/get-the-extension.md" }}' title="Download the browser extension">Be one of them</a>.</small>
        </li>
        <li class="keywords-icon icon-small">
            <b class="keywords-sum"></b> keywords collected <br />
            <small>these are some keywords</small>
            <ul class="keywords-data"></ul>
        </li>
    </ul>
    <div class="center">
        <a href="#" id="country-link" class="btn btn_big"><b>See more</b></a>
    </div>
</div>
<div id="overlay_shade"></div>
