<div class="overlay" id="trackers-info">
    <a class="close-btn" href="#">x</a>
    <!--h3 class="center top">Which news sites do you visit in <i class="country-name"></i> ?</h3>
    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <br /-->
    <form action="#" method="get" target="_blank">
        <fieldset class="news-sites"></fieldset>
        <div class="center">
            <button class="btn btn_big"><b>Take back your rights</b></button>
            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
        </div>
    </form>
</div>
<div id="overlay_shade"></div>
