
<form id="single-search" class="main-search center" action="#" method="post">
    <fieldset>
        <div class="keywords-wrapper left">
            <input id="keywords-input" type="text" placeholder="Type a keyword" /><br />
            <label for="keywords-input">Choose a keyword to search</label>
        </div>
        <div class="button-wrapper left omega">
            <button type="submit" class="btn btn_big top"><b>Search</b></button>
        </div>
    </fieldset>
</form>
<div class="row"></div>
<div id="results">
    <img src="/images/preloader.gif" class="preloader" width="60" height="60" />
</div>