{{ define "main" -}}
<div id="landing-page">
    <header class="entry-header center">
        <div class="container">
            <h1 class="bottom">Facebook miseleading "transparency"</h1>
        </div>
    </header>
    <div class="container">
        <div class="entry-content">
            <p>
                On the third of april 2019, the European Commission met Facebook to discuss changes being made to FB's newsfeed.
                <b>They claim to had solve transparency problem introducing a simple tool close to the post:</b> the <a href="https://newsroom.fb.com/news/2019/03/why-am-i-seeing-this/" target="_blank"><i>Why am I seeing this post?</i></a> function.
                We argue this tool is not transparency in any way, here's why:
            </p>
        </div>
    </div>


    <section>
        <div class="pink-bg">
            <div class="container">
                <div class="entry-content top">
                    <div class="column_1-4 center">
                        <b class="huge-number">1.</b>
                    </div>
                    <div class="column_3-4 omega">
                        <h3>In the <i>Why am I seeing this post?</i> tool there are no traces of the experiments Facebook regularly runs on us.</h3>
                    </div>
                    <span class="clear"></span>
                    <p class="h3_style light-font center">
                        How we know Facebook runs experiments on us? Because we've found two metrics helpful to spot any algorithm change.
                    </p>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <figure class="page center bottom"><img src='/images/broom.svg' /></figure>
        <div class="blue-bg">
            <div class="container">
                <div class="entry-content top">
                    <p>
                        We clearly observed profile having a stable contents ratio for weeks (i.e. 40% pictures, 10% videos, 50% text), with a variation by day around the 2%. Suddenly ratio change in 60% 5% 35%, to remain stable with a daily difference of 2%. Evidence like this made us realize, Facebook change the composition of the informative experience of each users without let them know.
                    </p>

                    <img src='/images/charts/percentage-media-type.png' />
                    <p>
                        We observed a group of user following the same pages get, by surprise, a higher variety of content appearing in their timeline.
                    </p>
                    <img style="margin-bottom: -100px" src='/images/charts/variety-contents.png' />

                </div>
            </div>
        </div>
    </section>

    <div class="row"></div>

    <section style="margin-top: 100px;">
        <div class="pink-bg">
            <div class="container">
                <div class="entry-content top">
                    <div class="column_1-4 center">
                        <b class="huge-number">2.</b>
                    </div>
                    <div class="column_3-4 omega">
                        <h3>In the <i>Why am I seeing this post?</i> tool there are no traces of the huge amount of excluded post.</h3>
                    </div>
                    <span class="clear"></span>
                    <p class="h3_style light-font center">
                        The hidden content were measured to be the 80% compared to the 20% selected. This lead to two consequences:
                    </p>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <figure class="page center bottom"><img src='/images/elephant.svg' /></figure>
        <div class="blue-bg">
            <div class="container">
                <div class="entry-content top center">
                    <div class="column_1-2">
                        <p class="h3_style light-font">
                            This huge amount of excluded contents give to Facebook the ability to frame the perception of debate.
                        </p>
                    </div>
                    <div class="column_1-2 omega">
                        <p class="h3_style light-font">
                            20% of content is competing for your attention, why specific post get proposed more times and others disappear after the first time?
                        </p>
                    </div>
                    <span class="clear"></span>
                    <img style="margin-bottom: -200px" src='/images/charts/webfundation-chart.png' />
                </div>
            </div>
        </div>
    </section>


    <div class="row"></div>

    <section style="margin-top: 150px;">
        <div class="pink-bg">
            <div class="container">
                <div class="entry-content top">
                    <div class="column_1-4 center">
                        <b class="huge-number">3.</b>
                    </div>
                    <div class="column_3-4 omega">
                        <h3>
                            The <i>Why am I seeing this post?</i> tool is only another engagement tool. Remember the big deal is your data!
                        </h3>
                    </div>
                    <span class="clear"></span>
                    <p class="h3_style light-font center">
                        Is the <i>Why am I seeing this post?</i> tool exposing the analysisthat Facebook regularly does? Not at all.
                    </p>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <figure class="page center bottom"><img src='/images/eating-data.svg' /></figure>
        <div class="blue-bg">
            <div class="container">
                <div class="entry-content top center">
                    <div class="column_1-2">
                        <h4><i>Facebook claims that:</i></h4>
                        <p style="font-size: 14px;">
                            During our research on “Why am I seeing this post?”, people told us that transparency into News Feed algorithms wasn’t enough without corresponding controls. People wanted to be able to take action, so we’ve made it easy to manage what you see in News Feed right from this feature. People’s feedback also helped us determine what specific information would be most valuable to highligh.
                        </p>
                    </div>
                    <div class="column_1-2 omega">
                       <h4><i>This actually means:</i></h4>
                        <p>
                            In order to get a better experience users should use more application features. Implicitly, causing Facebook to record an higher more engagement, which is the metric used to evaluate advertising and community behavior.
                        </p>
                    </div>
                    <span class="clear"></span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="entry-content">
            <h3 class="h1_style strong center">
                <i>We found the facebook answer to Eu Commision not even remotely satisfying.</i>
            </h3>
            <p class="center">
                We demand: <b>More controll on the algorithm</b> and <b>More transparency on metadata analysis</b>.<br />
                If you agree on this, <a href='{{ ref . "/page/get-the-extension.md" }}' title="Download the browser extension"><b>Download the browser extension</b></a>, to join a collaborative effort to understand Facebook algorithm.
            </p>
        </div>
    </div>

</div>

{{- end }}
