{{ define "main" -}}

<header class="entry-header center">
    <!--<div class="contributors-icon contributors-big-icon"></div>-->
    <h1 class="bottom">EU Election 2019</h1>
    <h2 class="top"><small><b>join a collaborative effort to map propaganda and Facebook abuses</b></small></h2>
</header>
<div class="entry-content">
    <p>
        We operate to expose how tracking and profiting from user data had a negative impact on society, so that proper political and civil actions can be taken. By installing this browser extension you will contribute in understanding how tracking works.
    </p>
    <div class="row"></div>
    <p class="center"><strong>Who should be very interested to become a contributor?</strong></p>

    <div class="column_1-4 center">
        <div class="icon-big scientist-users"></div>
        <p><b>Social scientists</b></p>
        <p><small>Might stop to struggle with technical complexities and platform secrecy. Our goal is to enable them in testing the impact of personalization algorithms. Follow our page on organize your algorithm test, and compare among peers</small></p>
    </div>

    <div class="column_1-4 center">
        <div class="icon-big fb-users"></div>
        <p><b>Every Facebook user</b></p>
        <p><small>Represent a unique point of observation of the network. More diverse we are, an more we can collect evidences of deceptive advertising, misleading communication. Also, more diverse is your curiosity, and more variety of usage we can provide. To contribute, install the extension</small></p>
    </div>

    <div class="column_1-4 center">
        <div class="icon-big data-users"></div>
        <p><b>Whoever knows how to transform data</b></p>
        <p><small>We have an opendata strategy; our goal is to keep protected individuals but let possible analyze social phenomena. Check it out if you are a developer knowing dataviz, a data scientist or a data analyst.</small></p>
    </div>

    <div class="column_1-4 center omega right">
        <div class="icon-big political-users"></div>
        <p><b>Political candidates and advertisers</b></p>
        <p><small>Whoever pay to have a facebook presence, by sponsored content or community efforts, would never understand how the algorithm treat their content. You might believe to be disintermediated but if fact you are not.</small></p>
    </div>

    <span class="clear"></span>
    <div class="row"></div>

    <div class="column_1-2 center">
        <div class="icon-big firefox-icon"></div><br />
        <p><a href="https://addons.mozilla.org/en-US/firefox/addon/facebook-tracking-exposed/" target="_blank" class="btn"><b>Download for FireFox</b></a></p>
    </div>
    <div class="column_1-2 center right omega">
        <div class="icon-big chrome-icon"></div><br />
         <p><a href="https://chrome.google.com/webstore/detail/trackingexposed-investiga/fnknflppefckhjhecbfigfhlcbmcnmmi" target="_blank" class="btn"><b>Download for Chrome</b></a></p>
    </div>

    <span class="clear"></span>
</div>

{{- end }}